@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    font-size: 0.7rem;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
}

.extra-div h2,
.servicediv h2 {
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}

i {
    color: #4CAF50;
}
.from-button button:hover {
    box-shadow: 0px 10px 20px -8px rgb(0 0 0 / 11%);
    background: #fff;
    border-color: #fff;
    color: #4caf50;
}
/*************header parts start ************/
.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(76 175 80 / 42%), rgb(76 175 80 / 42%)), url('../img/p.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0);
    position: relative;
	background-attachment:fixed;
}

.header:before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right, #199c1f 0%, #4CAF50 0%, #4cec53 100%);
}

.navbar:before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right, #4CAF50 0%, #4CAF50 0%, #4CAF50 100%);
}

.nav-item a {
    color: #fff !important;
    font-weight: bold;
}

.header-section {
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}

.center-div {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.header-buttons a {
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}

.header-buttons a:hover {
    color: #4CAF50;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.center-div p {
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}

/*************header parts css end ************/
/*************three extra header div css starts************/
.header-extradiv {
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
}

.extra-div {
    background: #fff;
    border: medium none;
    padding: 50px !important;
    border-radius: 3px;
    transition: 0.3s;
	
}

.extra-div:hover {
    box-shadow: 0px 10px 20px -8px rgb(0 0 0 / 11%);
    transform: translateY(-20px);
    z-index: 999;
}

/*************three extra header div css  end************/

/*************offers section start ************/
.serviceoffer {
    background: #f7f7f9;
    padding: 50px 0;
    margin-bottom: 50px;
}

.heading {
    margin-bottom: 50px;
}

.heading h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.names h3 {
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
}

.service-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress {
    height: 0.6rem !important;
    margin-bottom: 20px !important;
}

/*************offers section end************/
/*************project done start************/
.project-work {
    margin: 100px 0;
}

.project-work h2 {
    font-size: 2rem;
    text-align: center;
}

/*************project done end************/
/*************pricing start************/
.pricing {
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}

.pricing:before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(160deg, #4CAF50 55%, #fff 0%);
}

.money {
    font-size: 40px;
    line-height: 1;
    color: #606060;
}

.card {
    transition: 0.4s ease;
}

.card-header {
    font-size: 1.6rem;
    font-weight: bold;
    background: #fff !important;
    padding: 25px 9 !important;
}

.card-body {
    padding: 30px 0px !important;
}

.card-body li {
    margin: 10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;
}

.card-footer {
    background: white !important;
    padding: 30px 0px !important;

}

.card-footer a {
    border: 1px solid #4CAF50;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #4CAF50;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}

.card:hover .card-footer a {
    color: #fff;
    background: #4CAF50;
    box-shadow: 0px 10px 20px -8px rgb(0 0 0 / 11%);
}

.card:hover {
    transform: translateY(-20px);
    box-shadow: 0px 10px 20px -8px rgb(0 0 0 / 11%);
}

.card:hover .card-header,
.money {
    color: #4CAF50;
}

/*************pricing end************/
/*************Our customer feedback start************/
.happyclients {
    width: 100%;
    height: 100vh;
    padding: 80px 0px;
}

.box {
    text-align: center;
    border: 1px solid rgb(0 0 0 / 2%);
    box-shadow: 0px 10px 20px -8px rgb(0 0 0 / 11%);
    border-radius: 2px;
    transition: 0.3s ease;
    margin: 20px 0px;
}

.box:hover {
    background: #4bb74d;
}

.box:hover p {
    color: white;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -60px !important;
}

.carousel-indicators li {
    background-color: #1bbb22 !important;
}

.box a {
    position: relative;
}

.box a img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

.box a:after {
    content: "\f10d";
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, #087d0d 0%, #37bb3c 0%, #17fb20 100%);
    position: absolute;
    color: white;
    top: 120%;
    left: 70%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box h1 {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}

.box h2 {
    font-size: 13px;
    font-weight: 400;
    color: #606060;
    margin-bottom: 20px;
}

/*************Our customer feedback end************/

/*************Contact Us Start************/
.contentus {
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
}

.contentus:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(330deg, #4CAF50 55%, #fff 0%);

}

.from-button button {
    border: 1px solid #4dd052;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #52c756;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    background: #fff;
}

form:hover .from-button button {
  
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

::placeholder {
    font-size: 0.85rem;
}

/*************Contact Us end************/
/*************News letter start ************/
.newsletter {
    width: 100%;
    height: auto;
    margin: 80px auto;
}

.news-input {
    border-radius: 100px 0px 0px 100px !important;
    min-width: 150px;
    min-height: 45px;
}

.input-group-text {
    color: white !important;
    background: #5ad85f !important;
    border-radius: 0 100px 100px 0 !important;
    min-width: 120px;
    min-height: 40px;
}

/*************News letter end ************/
/*************Footer Start ************/
.footersection {
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: #4CAF50;
    position: relative;
}

.footersection p {
    color: #fff;
}

.footersection li a {
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
}

.footersection h3 {
    color: white;
    margin-bottom: 25px;
    font-size: 1.2rem !important;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

/*************Footer end ************/

/*========Media queries==========*/
@media(max-width:768px) {
    .nav-item {
        text-align: center !important;
    }

    .pricing,
    .happyclients,
    .contentus {
        height: auto;
        margin-top: 50px;
    }

    .card-secend {
        margin: 30px 0;
    }

    .footer-div:nth-child(2) {
        text-align: left !important;
    }

    .footer-div {
        margin: 30px 0;
    }
}
